<div class="container">
  <div class="row">
    <br>
    <p>Based on your answers to these questions, it appears that you qualify to apply for “Equitable” based innocent spouse relief under Section 6015 of the Internal Revenue Code. The IRS decision on whether to grant you relief from tax liability under the “Equitable” based 'Innocent Spouse Relief' is also based on how they view the equities of your situation in total and they will look at other facts too, such as if payment of these taxes would impose financial hardship to you.</p>

    <p>See Form 8857, Request for Innocent Spouse Relief.</p>

    <p>Form 8857: <a href="https://www.irs.gov/pub/irs-pdf/f8857.pdf">https://www.irs.gov/pub/irs-pdf/f8857.pdf</a></p>

    <p>Form 8857 Instructions: <a href="https://www.irs.gov/pub/irs-pdf/i8857.pdf">https://www.irs.gov/pub/irs-pdf/i8857.pdf</a></p>

    <p>Check back in the near future for an Interactive Form 8857 THAT the John Marshall Law School’s Domestic Violence Clinical Advocacy Program is currently working on. This interactive format will aid users in filling out the form. We will be creating tips on how to fill out IRS Form to show how you qualify to apply for Innocent Spouse Relief and how the equities of your situation should lead the IRS to grant this relief to you.</p>

    <p>Also, if you are interested in obtaining help from the John Marshall Law School’s Family Law & Domestic Violence Clinic with any legal issues you may have relating to the abuse you have suffered from an intimate partner, these organizations will help connect you with our services.</p>

    <p>Between Friends: <a href="http://www.betweenfriendschicago.org/aboutus.html">http://www.betweenfriendschicago.org/aboutus.html</a></p>

    <p>Chicago Children’s Advocacy Center: <a href="http://www.chicagocac.org/who-we-are/contact-us/">http://www.chicagocac.org/who-we-are/contact-us/</a></p>

    <p>Family Rescue: <a href="http://www.familyrescueinc.org/">http://www.familyrescueinc.org/</a></p> 
    <p>24-Hour Crisis Line: 800-360-6619</p>
  </div>
</div>