<div class="container-fluid">
  <div class="row" id="body-title">
    <h1>Determine Whether You Qualify for Innocent Spouse Tax Relief</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12" id="about">
      <div class="panel panel-default" id="home-about-panel">
        <div class="panel-heading" id="home-about">
          <h3 class="panel-title" id="home-about-title">About</h3>
        </div>
        <div class="panel-body" id="home-about-body">
          <p>If you are a survivor of domestic violence and you are facing claims by the government for taxes, interest or penalties due, there are some protections under the law that could help you.</p>
          
          <p>The best form of relief if you qualify for it is called the "Innocent Spouse Relief". To find out if you might qualify for this form of relief, please press -----and answer a series of questions.</p> 
          
          <p>If it appears you may in fact qualify for that form of relief, you will be directed to the tax form you need to fill out (with some tips on how to do so) and a list of some legal service providers who may be able to assist you. 

          <p>If it appears you do not qualify for this form of relief, you will be directed to FAQs that explain some other potential forms of relief you can seek from the tax debt claimed</p>        
        </div>
      </div>

      <div class="panel panel-default" id="home-about-panel">
        <div class="panel-heading" id="home-about">
          <h3 class="panel-title" id="home-about-title">Mission</h3>
        </div>
        <div class="panel-body" id="home-about-body">
          <p>John Marshall Law School assists survivors of domestic violence engaged in the brave and perilous journey of becoming safe and whole again through legal assistance in eight practice areas, the development of educational and training programs and materials that better enable survivors to exercise their rights, and crafting empirical-based proposals to improve the legal system’s response to this pervasive and complex problem.</p>
        </div>
      </div>

      <div class="quick-close">
        <button type="button" class="btn btn-default btn-lg" id="large-button">Begin The Tax Relief Questionnaire</button>
      </div>

    </div>    

    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" id="about">  
      <div class="panel panel-default" id="home-internet-safety">
        <div class="panel-body" id="internet-safety-title">
          <h2>Please Review These Internet Safety Tips</h2>
        </div>
      </div> 

      <div class="panel panel-default" id="home-internet-safety">
        <div class="panel-body" id="home-internet-safety-text">
          <h3>Click the <button type="button" class="btn btn-default btn-btn-sm" id="small-button" href="#">Quick Close</button> button at any time to navigate away from this page.</h3><br>
          <p>A new tab will open in your browser at weather.com. The original browser tab will navigate to google.com.</p>
        </div>
      </div> 

      <div class="panel panel-default" id="home-internet-safety">
        <div class="panel-body" id="home-internet-safety-text">
          <h3>If you feel you are being monitored, be cautious about changing your internet behaviors.</h3>
          <p>It is not possible to delete all of your online activities. Do not delete your entire Internet history if this is not your typical habit.</p>
          <p>On a <strong>safe computer</strong>, familiarize yourself with how to view and delete specific items from your history as it applies to your browser and operating system. For example, if you use Google Chrome, run a Google search for "chrome delete history".</p>
        </div>
      </div> 

      <div class="panel panel-default" id="home-internet-safety">
        <div class="panel-body" id="home-internet-safety-text">
          <h3>Familiarize yourself with keyboard shortcuts that allow you to quickly close browser windows and tabs.</h3>
        </div>

        <table class="table" id="internet-safety-table">
          <tr id="internet-safety-rows">
            <td><strong>Windows PC</strong></td>
            <td><strong>Mac</strong></td>
          </tr>
          <tr>
            <td>Alt + F4 - Closes the current application</td>
            <td>Command-Q (⌘Q) - Closes the current application</td>
          </tr>
          <tr>
            <td>Ctrl + W - Closes the current browser tab</td>
            <td>Command-W (⌘W) - Closes the current browser tab</td>
          </tr>
        </table>
      </div>  
    </div> 
  </div>
</div>
