<div ng-app="app">
  {{ 1 + 1 }}
</div>

<div id="questionBlock"></div>

<script>

$.ajax({
  url: "http://localhost:3000/api/v1/questions.json",
  dataType: 'json',
  success: function (data) { 
   $('#questionBlock').append(data);
   console.log(data);
  }
});

</script>