<div ng-app="app">
  <br>
  <div ng-controller="questionsCtrl" ng-init="setup()" class="container">
    <div ng-repeat="question in questions track by $index">
       <div ng-show="question_index == $index">
          <p ng-bind-html="question.text">{{question.text}}</p>
          <a ng-click="checkYesResponse(question.yes_response)" class="btn btn-default">Yes</a>
          <a ng-click="checkNoResponse(question.no_response)" class="btn btn-default">No</a>
       </div>
    </div>

    <hr>

  </div>
 
</div>