<div class="container-fluid">
  <div class="row" id="new-title">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question-text">
      <div class="panel panel-default" id="question-text-panel">
        <div class="panel-heading" id="question-text-panel-heading">
          <h3 class="panel-title">Warning: deleting an admin account is not reversable!</h3>
        </div>
        <div class="panel-body">       
          <table style="width:80%" class="admin-table">
            <% @admins.each do |admin| %>
            <tr>
              <td><%= admin.email %></td>
              <td><%= link_to "Delete Admin", "#{admin.id}", class: "button-submit btn-lg", id: "button-submit", data: {confirm: "Deleting an admin account is not reversable.  Are you sure you want to delete #{admin.email}?"}, method: :delete %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
