//-----------------NAVBAR---------------
//-----------------------------------------

.header {
  padding-bottom: 120px;
}

.navbar-brand {
  height: 100%;
}

.navbar-right li a {
  line-height: 55px;
  font: Helvetica;
  font-size: 18px;
}

.navbar-right {
  margin-right: 20px;
}

.mission-statement {
  text-align: center;
  font-size: 18px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}


//------------LARGE BUTTON----------------
//-------------------------------------------

#large-button {
  background-color: #9A0000;
  font-size: 24px;
  color: white;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  min-width: 80%;
}

#large-button:hover {
  background-color: #670000
}

#large-button:active {
  vertical-align: top;
  padding: 8px 13px 6px;
}
//---------------BODY-----------------
//---------------------------------------

body {
  background-color: #F3F3F4;
  font: Helvetica;
  padding-bottom: 60px;
}

#body-title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

#about {
  padding-top: 30px;
}

#home-about-panel {
  border-radius: 10px;
}

#home-about {
  background-color: #9A0000;
}

#home-about-body {
  font-size: 18px;
}

#home-about-title {
  font: Helvetica;
  text-align: center;
  color: white;
  font-size: 24px;
}

#home-internet-safety {
  font: Helvetica;
  text-align: center;
  border-radius: 10px;
  border-color: #9A0000;
  border-width: 5px;
}

#home-internet-safety-text p {
  font-size: 16px;
}

#home-internet-safety-text p strong {
  color: #9A0000;
}

#internet-safety-title {
  color: #9A0000;
  font-size: 24px;
}

#small-button {
  background-color: #9A0000;
  color: white;
  text-align: center;
  border-radius: 10px;
}

#internet-safety-rows strong {
  color: #9A0000;
}


//---------------FOOTER---------------------
//---------------------------------------------

.navbar-fixed-bottom {
  background-color: #A4A4A4;
}

#footer-text {
  font: Helvetica;
  font-size: 18px;
  color: white;
} 

#footer-text p {
  margin-top: 12px;
}

#footer-admin p {
  margin-top: 15px;
  color: pink;

}

//---------------USER_SIGN_IN----------------
//---------------------------------------------

.border-div {
  padding-top: 20px;
}
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px; 
}
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
