#new-title {
  text-align: center;
  padding-bottom: 40px;
}

// #question-text {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   width: 250px;
//   height: 200px;
// }

#question-text-panel-heading {
  background-color: #9A0000; 
}

#question-text-panel-heading h3 {
  font-size: 22px;
  color: white;
}

#question-text-panel {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 75%;
  padding-bottom: 20px;
}

#question-text-field-tag {
  display: block;
  width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-color: #9A0000;
  border-radius: 10px;
  border-width: 5px;
}

#question-text-body {
  padding-top: 40px;
}

#yes-question-field-tag{
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 30px;
}

#no-question-field-tag{
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 30px;
}

#button-submit {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: #9A0000;
  color: white;
}

#button-submit:hover {
  background-color: #670000
}

#button-edit {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: #9A0000;
  color: white;
}

#button-edit:hover {
  background-color: #670000
}

#button-delete {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: #9A0000;
  color: white;
}

#button-delete:hover {
  background-color: #670000
}

#new-question-button {
  background-color: #9A0000;
  font-size: 24px;
  color: white;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  max-width: 73%;
}

#new-question-button:hover {
  background-color: #670000
}

#new-question-button:active {
  vertical-align: top;
  padding: 8px 13px 6px;
}
